_target_: src.models.prediction_module.PredictionModule

net:
  _target_: src.models.components.predictors.MLP
  in_dim: ${eval:'${total_genes}*2'}
  hidden_dim: 256
  out_dim: ${total_genes}

optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 0.001
  weight_decay: 0.0

scheduler:
  _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
  _partial_: true
  mode: min
  factor: 0.1
  patience: 10